spring:
  application:
    name: patient-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/patient_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456789}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        format_sql: ${SHOW_SQL:false}
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
server:
  port: 8083

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
