spring:
  application:
    name: patient-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/patient_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456789}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
server:
  port: 8083
